<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    
    # === MAGIC TRICK POUR LES ASSETS ===
    # Si l'URL contient ".../assets/...", on réécrit pour taper directement dans "assets/..."
    # Ex: /admin/assets/css/style.css  -> devient ->  assets/css/style.css
    RewriteRule .*/assets/(.*)$ assets/$1 [L]

    # ... Le reste de ton routage habituel ...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>